[submodule "externals/nnstreamer"]
	path = externals/nnstreamer
	url = https://github.com/nnstreamer/nnstreamer
	branch = main
[submodule "externals/ml-api"]
	path = externals/ml-api
	url = https://github.com/nnstreamer/api
	branch = main
[submodule "externals/nnstreamer-edge"]
	path = externals/nnstreamer-edge
	url = https://github.com/nnstreamer/nnstreamer-edge
	branch = main
